<!-- <h2 class="text-center mt-5 bg-info rounded text-light pb-2 pt-2"> Vacancies list</h2>
<table st-table="rowCollection" class="table table-striped border rounded mb-5">
	<thead>
		<tr>
			<th>first name</th>
			<th>last name</th>
			<th>birth date</th>
			<th>balance</th>
			<th>email</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in rowCollection">
			<td>something good me}}</td>
			<td>something good e}}</td>
			<td>something good te}}</td>
			<td>something good }}</td>
			<td>something good </td>
		</tr>
	</tbody>
</table>
<button type="button" (click)="navigateToSaveVacancie()" class="btn btn-primary mr-3 mt-4 mb-5">
	<i class="bi bi-clipboard-plus"></i>
	New Vacancy
</button> -->


