#loading {
    width: 125px;
    padding-bottom: 150px;
    display: block;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}