<ul class="nav justify-content-center bg-dark rounded mt-2 mb-3">
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/admin/technologies">Techonologies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/admin/vacancies">Vacancies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/admin/candidates">Candidates</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/admin/management">Admins management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/admin/profile">My profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" (click)="logout()">Logout</a>
    </li>
  </ul>