<ul class="nav justify-content-center bg-dark rounded mt-2 mb-3">
  <ng-container *ngIf="isAdmin; else candidate">
    <div *ngFor="let route of adminRoutes; index as i">
      <span>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink={{route}}> {{ route | slice:7:20 }}</a>
        </li>        
      </span>
    </div>
  </ng-container>
  <ng-template #candidate>
    <div *ngFor="let route of candidateRoutes; index as i">
    <span>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink={{route}}> {{ route | slice:11:28 }}</a>
        </li>
      </span>
    </div>
  </ng-template>
  <li class="nav-item">
    <a class="nav-link text-light" (click)="logout()">logout</a>
  </li>
</ul>