/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

#profilePhoto {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
}